.card {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  width: 28%;
  border: 1px solid #000000;
  border-radius: 3%;
  flex-wrap: wrap;
  align-items: center;
}
:link {
  text-decoration: none;
}

.info {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
