.container_body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: aliceblue;
}

.image_detail {
  width: 50%;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 100%;
}
.container_detail {
  border-radius: 5%;
  height: 85vh;
  margin: 10vh;
  width: 40%;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3vh;
}

@media (min-width: 279px) and (max-width: 499px) {
  .image_detail {
    width: 30vh;
    margin-bottom: 15%;
    margin-left: 5%;
  }
  .container_detail {
    font-size: 2vh;
    height: 80vh;
    width: 80%;
    margin-right: 20%;
    font-size: 2vh;
  }
}

@media (min-width: 501px) and (max-width: 990px) {
  .image_detail {
    width: 30vh;
    margin-right: 2%;
    margin-bottom: 15%;
  }
  .container_detail {
    font-size: 2vh;
    width: 50%;
    margin-right: 20%;
  }
}

@media (min-width: 1023px) and (max-width: 1025px) {
  .container_body {
    width: 100vh;
  }
  .image_detail {
    width: 30vh;
    margin-right: 2%;
    margin-bottom: 15%;
  }
  .container_detail {
    font-size: 2vh;
    margin-right: 35%;
  }
}
